<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.wlara.nextgen.webviewer">

    <application>
        <activity
            android:name="com.github.wlara.nextgen.webviewer.WebViewerActivity"
            android:exported="false"
            android:label="@string/title_activity_ugc"
            android:theme="@style/Theme.NextGen.NoActionBar" />
    </application>

</manifest>